<main class='chat-page'>
	<div class='chat-page__side-column'>
		{{{ profilePreview }}}
		<div class='chat-page__manage-chats manage-chats'>
			{{{ searchBox }}}
			{{{ addChatButton }}}
		</div>
		{{{ chatsList }}}
	</div>
	<div class='messenger chat-page__messenger'>
		{{{ messagesList }}}
		{{#if messagesList}}
			{{{ messagesList }}}
			{{{ messageSendForm }}}
		{{else}}
			Выберите диалог для начала общения
		{{/if}}
	</div>
	<div class='modal'>
    {{{ addChatForm }}}
  </div>
</main>
