<main class='chat-page'>
	<div class='chat-page__side-column'>
		{{{ profilePreview }}}
		<div class='chat-page__manage-chats manage-chats'>
			{{{ searchBox }}}
			{{{ addChatButton }}}
		</div>
		{{{ chatsList }}}
	</div>
	<div class='messenger chat-page__messenger'>
		{{#if activeChatID}}
			<div class='chat-info'>
				{{{ chatInfo }}}
				{{{ showChatDetailsButton }}}
			</div>
			{{{ messagesList }}}
			{{{ messageSendForm }}}
		{{else}}
			Выберите диалог для начала общения
		{{/if}}
	</div>
		{{#if activeChatID}}
			<div class='chat-info chat-info_details chat-page__chat-info'>
				<div class='profile-form__upload-container'>
					{{{ chatAvatar }}}
					{{{ uploadChatAvatarInput }}}
				</div>
				{{{ usersList }}}
				{{{ addUserButton }}}
			</div>
		{{/if}}
	<div class='modal'>
		{{#if isChatUserCreation}}
    	{{{ addChatUserForm }}}
		{{else}}
			{{{ addChatForm }}}
		{{/if}}
  </div>
</main>
