<main class='chat-page'>
	<div class='chat-page__side-column'>
		{{{ profilePreview }}}
		{{{ searchBox }}}
		{{{ chatsList }}}
	</div>
	<div class='chat-page__messenger'>
		{{{ messagesList }}}
		{{#if messagesList}}
			{{{ messagesList }}}
		{{else}}
			Выберите диалог для начала общения
			<a class='link' href='#' data-page='errorPage404'>Страница 404</a>
			<a class='link' href='#' data-page='errorPage500'>Страница 404</a>
		{{/if}}
	</div>
</main>
