<main>
  {{{ backLink }}}
  <div class='modal profile-form'>
    <div class='profile-form__upload-container'>
      {{{ avatar }}}
      {{{ uploadAvatarInput }}}
    </div>
    {{{ form }}}
    {{{ changePasswordlink }}}
  </div>
</main>
